.square {
		border: 1px solid #ddd;
		position: absolute;
		width: 60px;
		height: 60px;
	}
.square:hover {
	outline: 2px solid black;
}
.blk {
	border: 1px solid #ddd;
	position: absolute;
}
.toplblock {
	background-color: #E66;
}
.toprblock {
	background-color: #F99;
}
.bottomlblock {
	background-color: #66E;
}
.bottomrblock {
	background-color: #99F;
}
button {
	position: absolute;
	color: black;
}
.btnAlpha {
	background-color: #FDD;
}
.btnAlpha.selected {
    background-color: #F99;
}
.btnBeta {
	background-color: #DDF;
}
.btnBeta.selected {
    background-color: #99F;
}
.symbol {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    position: absolute;
    box-shadow: 1px 1px 5px 0px #000;
    word-break: break-word;
    cursor: pointer;
    font-size: 17px;
}
.symbol.selected {
	outline: 1px solid #09F;
}
.symbol.Alpha {
	background-color: #FDD;
}
.symbol.Beta {
	background-color: #DDF;
	margin-top: 20px;
	margin-left: 20px;
}
.start {
	border-radius: 25px;
}
.start::after {
	content: 'Start';
}
.left::after {
	content: '<-';
}
.right::after {
	content: '->';
}
.up::after {
	content: '^';
}
.down::after {
	content: 'v';
}
.line.Alpha {
	background-color: rgba(255,1,1,0.5);
}
.line.Beta {
	background-color: rgba(1,1,255,0.5);
}
.arrow {
    z-index: 1;
}
.waldo {
    border-radius: 25px;
    position: absolute;
    box-shadow: 1px 1px 5px 0px #000;
}
.waldo.Alpha {
    border: 6px solid #F00;
}
.waldo.Beta {
    border: 6px solid #00F;
}
.in.InAlpha::after {
    content: 'In α';
}
.in.InBeta::after {
    content: 'In β';
}
.out.OutAlpha::after {
    content: 'Out α';
}
.out.OutBeta::after {
    content: 'Out β';
}
.grab::after {
    content: 'Grab';
}
.bond::after {
    content: 'Bond +';
}
.debond::after {
    font-size: 19px;
    content: 'Bond -';
}
.grabdrop::after {
    content: 'Grab / Drop';
}
.drop::after {
    content: 'Drop';
}
#elements{
    z-index:1;
    position: relative;
}
.element {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    position: absolute;
    box-shadow: 1px 1px 5px 0px #000;
    font-size: 20px;
    background-color: rgba(255,255,255,0.7);
    padding: 11px;
    margin: 10px;
}
.bonder {
    border-radius: 25px;
    border: 5px solid #666;
    font-size: 45px;
    padding-left: 4px;
    color: #666;
}
    .bonder::after {
        content: "+ -";
    }